.heade-index{
    div{
        div{
            div{
                ul{
                    li{
                        a:hover{
                            color: gray;
                        }
                    }
                    .hovee{
                        a:hover{
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}